<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MtgJsonParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <MtgJsonParser.Properties.Settings>
      <setting name="JsonUrl" serializeAs="String">
        <value>http://mtgjson.com/json/AllSets-x.json.zip</value>
      </setting>
      <setting name="JsonZipFilename" serializeAs="String">
        <value>AllSets-x.json.zip</value>
      </setting>
      <setting name="JsonFilename" serializeAs="String">
        <value>AllSets-x.json</value>
      </setting>
      <setting name="JsonDirectory" serializeAs="String">
        <value>AllSets-x.json</value>
      </setting>
      <setting name="InputDictionaryFilename" serializeAs="String">
        <value>C:\Users\Liam\Common\dictionary.txt</value>
      </setting>
      <setting name="OutputDictionaryFilename" serializeAs="String">
        <value>C:\Users\Liam\AppData\Roaming\Microsoft\UProof\MTG.DIC</value>
      </setting>
      <setting name="MySqlServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="MySqlUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="MySqlPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MySqlDatabase" serializeAs="String">
        <value>delverdb</value>
      </setting>
      <setting name="MySqlPort" serializeAs="String">
        <value>3306</value>
      </setting>
    </MtgJsonParser.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings configSource="connections.config"/>
</configuration>